/* Banner Style */
.banner {
    background-image:url('Images/River View From Town.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    height: 200px;
}

.bannertext{
    padding: 25px;
    text-align: center;
    color: #ffffff;
}

.bannertext h1{
    text-shadow: 1px 1px 1px #0e57c4, 2px 2px 1px #0e57c4;
}

/*Navbar Style */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    float: left;
    background-color: #333;
    text-align: center;
}

.navbar a{
    display: block;
    color: #ffffff;
    text-align: centre;
    padding: 15px 15px;
    text-decoration: none;
}

.navbar a:hover:not(.active){
    background-color: #111;
}

.active{
    background-color: #04AA6D;
}

/* Header Style */
header{
    padding: 0px;
    font-family: Verdana;
    margin:0;
}

/* Body Style */
body{
    background-color: #00008B;
    color: #111;
    font-family: Verdana;
    margin:0;
}

/* Footer Style */
footer{
    background-color: #333;
    color: #ffffff;
    font-family: Verdana;
    padding: 10px;
    text-align: center;
}

/* History Page Styles */
.HistoryPage{
    margin: 10px;
    padding: 10px;
    background-color: #2196F3;
}

.HistoryPage > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
  }

  .HistoryImages{
    background-position:center center;
    margin: 10px;
  }

/* Visit Page Styles */
.VisitPage{
  margin: 10px;
  padding: 10px;
  background-color: #2196F3;
}

.VisitPage > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
  }

  .VisitButtons{
    margin: 10px;
  }

/* Home Page Styles */
.IndexPage {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    margin: 10px;
  }
  
  .IndexPage > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
  }

  .IndexFact1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .IndexFact2 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .IndexFact3 {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .IndexFact4 {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .IndexFact5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
  }

  .IndexImage1 {
    background-image:url('Images/Cathedral Side View.JPG');
    background-size:cover;
    background-position:center center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .IndexImage2 {
    background-image:url('Images/River Front View.JPG');
    background-size:cover;
    background-position:center center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .IndexImage3 {
    background-image:url('Images/Dunblane Map.png');
    background-size:cover;
    background-position:center center;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 550px;
  }

.col-7{
  background-color: aquamarine;
}

.col-5{
  background-color:coral;
}